---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ meta.siteName | htmlEntityGenerator | safe }}</title>
  <subtitle>王垠博客自动备份存档，版权归原作者所有</subtitle>
  <link href="{{ meta.siteBaseUrl }}/" />
  <link rel="self" href="{{ '/feed.xml' | absoluteUrl(meta.siteBaseUrl) }}" />
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.siteBaseUrl }}/</id>
  {%- for post in collections.post.slice(0, 20) %}
  {%- set absPostUrl = post.url | absoluteUrl(meta.siteBaseUrl) %}
  <entry>
    <title>{{ post.data.title | htmlEntityGenerator | safe }}</title>
    <link href="{{ absPostUrl }}" />
    <published>{{ post.data.created }}</published>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absPostUrl }}</id>
    <summary>{{ post.templateContent | excerpt(140) | htmlEntityGenerator | safe }}</summary>
  </entry>
  {%- endfor %}
</feed>
