---json
{
  "permalink": "sitemap.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}
{%- if p.outputPath and p.outputPath.endsWith(".html") %}
  <url>
    <loc>{{ p.url | absoluteUrl(meta.siteBaseUrl) }}</loc>
    {%- if p.data.created %}<lastmod>{{ p.data.created }}</lastmod>{% endif -%}
  </url>
{%- endif %}
{%- endfor %}
</urlset>
